<h1>Current Vacation Homes</h1>

<% @vacation_homes.each do |home| %>
  <h3><a href="/vacation_homes/<%= home.id %>"><%= home.listing_name %></a></h3>
  <p>Location: <%= home.city %>, <%= home.state %>, <%= home.country %></p>
<% end %>

<a href="/vacation_homes/new">Create a new listing</a>
